.darkmode {
    background-color: #1c1e21;
    color: #fff;
    .nav-bar {
        .navbar {
            background-color: rgb(7, 7, 7) !important;
        }
        background-color: rgb(34, 34, 34) !important;
        color: $text-light;
        .navbar-light .navbar-nav .nav-link {
            color: $text-light !important;
        }
    }
}
