footer {
    .foter-icon {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        line-height: 47px;
        font-size: 13px;
        background: rgba(255, 255, 255, 0.2);
        margin-bottom: 15px;
        margin-right: 10px;
        border: 1px solid transparent;
    }
    @media (max-width: 768px) {
        text-align: center;
    }
}
